<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Except Farmworkers</title>
  <%= erb :head %>
</head>

<body> 
    <%= erb :'home_partials/nav' %>

  	<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
        <%= erb :'home_partials/twitter' %>

  		<a data-behavior="button" data-behavior="button" class="button animated bounce texture" data-slide="2" title=""> <i class="icon-download"></i></a>
  	</div><!--End Slide 1-->
   
  	<div class="slide texture" id="slide2" data-slide="2" data-stellar-background-ratio="">
      <%= erb :'home_partials/learn-page' %>  
    		<span class="slideno">Learn</span>
    		<a data-behavior="button" data-behavior="button" class="button animated bounce" data-slide="3" title=""> <i class="icon-download"></i></a>
  	</div><!--End Slide 2-->

  	<div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
      <%= erb :'home_partials/liquid-slider' %>
  		<span class="slideno">Get Involved</span>
  		<a data-behavior="button" class="button animated bounce simulateclick4" data-slide="4" title=""> <i class="icon-download"></i></a>
  	</div><!--End Slide 3-->

  	<div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0">
      <div class="partners-list">
      <h1 class="smallerh1">Partners</h1>
        <ul>
            <li class="havens"><img src="images/partners/havens.png"> </li>
            <li class="casellula"><img src="images/partners/casellula.png"> </li>
            <li class="signup"><a href="javascript:void(0)" class="slideto5">want to be on this list?</a></li> 
        </ul>
      </div>     
      <iframe id="gmap" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=208882841160518682906.0004d8ed2220000f53f18&amp;ie=UTF8&amp;ll=40.752282,-73.992141&amp;spn=0.025345,0.00763&amp;t=m&amp;output=embed&amp;z=12"></iframe>


      <div class="partner-logo-wrapper">
        <!-- <img src="images/partners/havens.png" alt="" data-slide="3" data-stellar-background-ratio="0.5"> -->
      </div><!-- partner-logo-wrapper  -->

  		<span class="slideno">Partners</span>

  		<a data-behavior="button" class="button animated bounce simulateclick" data-slide="5" title=""><i class="icon-download"></i></a>
  	</div><!--End Slide 4-->



  	<div class="slide" id="slide5" data-slide="5" data-stellar-background-ratio="0">
      <%= erb :'home_partials/contact-form' %>

  		<span class="slideno">Contact</span>
  	</div><!--End Slide 5-->

 
  			
</body>
</html>
